/* ESTILOS GENÉRICOS SITIO */

.separador {
    clear: both;
    display: block;
    border: 0px;
}

.espaciadorSuperiorInferior {
    margin-top: 50px;
    margin-bottom: 50px;
}

.destacadoClub {
    color: var(--destacadoClub);
}

.accordion-button:focus {
    border-color: var(--destacadoClub)!important;
}

.accordion-button:not(.collapsed) {
    color: var(--destacadoClub);
    background-color: #ffffff;
}

section.portada {
    text-align: center;
    padding: 0;
}

section.portada img {
    width: 100%;
    margin-bottom: 30px;
}

.textoEncabezado {
    margin: 0 auto;
    width: 700px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 3rem;
    font-weight: 300;
    color: var(--colorTextoPrincipal);
    text-align: center;
}

a.seguirLeyendo {
    display: block;
    font-size: 1.1rem;
    text-decoration: underline;
    letter-spacing: 1px;
    color: var(--colorTextoPrincipal);
    padding-top: 5px;
    padding-bottom: 10px;
}

section#runclubAccesoBiografias article a:hover,
.seguirLeyendo:hover {
    color: var(--destacadoClub);
}

.verMas {
    margin: 0 auto;
    display: block;
    background-color: #050505;
    font-size: 1.1rem;
    line-height: 1.2rem;
    text-align: center;
    letter-spacing: 1px;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 200px;
}

.verMas:hover {
    background-color: var(--destacadoClub);
    color: #ffffff;
}

.grillaRunClub {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
}

.fondoGradient {
    background: rgb(50, 50, 50);
    background: radial-gradient(circle, rgba(50, 50, 50, 1) 0%, rgba(16, 15, 15, 1) 84%, rgba(0, 0, 0, 1) 100%);
}


/* ESTILOS HEADER */

header {
    width: 100%;
    background-color: var(--colorFondoPrincipal);
    clear: both;
    top: 0px;
}

.logoSitio img {
    width: 130px;
}

.contenidoSemiFull {
    width: 90%;
    margin: 0 auto;
}

.navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
}

.navbar-dark-color {
    color: red
}

a.nav-run:hover {
    color: var(--destacadoClub);
}

a.nav-run-drop,
a.nav-run-drop:hover {
    color: #fff;
}

.nav-run {
    display: inline-block;
    padding: 10px;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

.nav-run-drop {
    font-size: 1rem;
    line-height: 1.2rem;
    letter-spacing: 0.5px;
    text-decoration: none;
    display: block;
    padding: 8px;
}

nav ul li li:hover,
nav ul li ul a:hover {
    background-color: var(--destacadoClub);
    color: white;
}

ul.dropdown-menu.dropdown-menu-dark.dropdown-run.show {
    top: auto;
    left: auto;
}

.dropdown-menu-dark {
    background-color: var(--colorFondoPrincipal);
}

.dropdown-menu {
    border-radius: 0;
    border: 0;
    padding: 0;
}

#navMobile {
    display: none;
}

.destBoton:hover {
    transform: scale(1.1);
    transition: 0.1s;
}


/* FIN ESTILOS HEADER */


/* ESTILOS INDEX */

section#portadaSitio {
    background-image: url(../images/portadas/portada.png);
    background-size: cover;
    background-position: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px;
}

section#portadaSitio h1 {
    animation-duration: 4s;
}

section#portadaSitio a:hover {
    background-color: var(--destacadoClub);
}

section#novedades {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: stretch;
    justify-content: center;
    background-color: black;
    color: white;
}

section#novedades .grillaRunClub {
    gap: 0;
}

section#novedades article {
    grid-column-end: span 3;
    box-sizing: border-box;
    height: 600px;
    text-align: center;
    background-size: cover;
    display: flex;
}

.contenidoNovedad {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section#novedades article a:hover {
    background-color: var(--destacadoClub);
}

section#novedades article#novedadNoticia {
    background-image: url(../images/novedad-noticia.png);
}

section#novedades article#novedadEditorial {
    background-image: url(../images/novedad-editorial.png);
}

section#novedades article#novedadEntrenamiento {
    background-image: url(../images/novedad-entrenamiento.png);
}

section#novedades article#novedadBiografia {
    background-image: url(../images/novedad-biografia.png);
}

section#novedades h3 {
    font-size: 1rem;
    font-weight: 300;
}

section#novedades h4 {
    font-size: 1.8rem;
    font-weight: 700;
}

section#novedades p {
    font-size: 1.4rem;
    line-height: 3rem;
    font-weight: 300;
    margin-bottom: 10px;
    margin-top: 10px;
    height: 130px;
}

section#entrenaConNosotros {
    width: 90%;
    max-width: 1366px;
    margin: 80px auto;
    text-align: center;
}

section#entrenaConNosotros div.grillaRunClub {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.accesoConNosotros {
    grid-column-end: span 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.accesoConNosotros h2 {
    font-size: 2.5rem;
    letter-spacing: 1px;
    word-spacing: 10px;
}

.accesoConNosotros p.textoEncabezado {
    width: auto;
}

.accesoConNosotros img {
    width: 100%;
}


/* ESTILOS PÁGINA NOSOTROS */

.encabezadoDestacado {
    padding-top: 30px;
    padding-bottom: 30px;
}

section#staff {
    padding-top: 30px;
    padding-bottom: 50px;
    text-align: center;
    background-color: rgba(23, 23, 23, 1);
    clear: both;
}

section#staff h2 {
    padding-top: 20px;
    font-size: 12rem;
    line-height: 40px;
    color: rgb(255, 85, 0, 0.2);
}

section#staff h3 {
    color: white;
    font-size: 1.8rem;
    line-height: 2rem;
    padding-bottom: 10px;
    letter-spacing: 1px;
}

section#staff h3 .destacadoClub {
    font-size: 1.8rem;
}

section#staff p {
    color: white;
    font-size: 1.4rem;
    line-height: 2.4rem;
    letter-spacing: 0.2px;
}

section#staff div {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
}

.miembroStaff {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px 10px;
    grid-column-end: span 3;
}

.miembroStaff img {
    width: 100%;
}

.miembroStaff p {
    padding: 10px;
}

section#nosotrosGrillaFotos {
    padding-top: 30px;
    text-align: center;
}

section#nosotrosGrillaFotos h2 {
    font-size: 3rem;
}

#nosotrosGrillaFotos__galeria {
    width: 90%;
    max-width: 990px;
    margin: 0 auto;
    display: flex;
    margin-top: 20px;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 10px;
    gap: 10px;
}

#nosotrosGrillaFotos__galeria .foto-grilla {
    display: block;
    height: 150px;
    text-align: center;
    transition: 1s;
    border-radius: 0px;
}

#nosotrosGrillaFotos__galeria span.foto-grilla img {
    width: 100%;
    height: 100%;
    opacity: 0.8;
    transition: all .9s ease;
    border-radius: 5px;
}

#nosotrosGrillaFotos__galeria span.foto-grilla:hover {
    border-radius: 50px;
}

#nosotrosGrillaFotos__galeria span.foto-grilla:hover img {
    opacity: 1;
    z-index: 9999;
}

#nosotrosGrillaFotos__galeria span.foto-grilla img:hover {
    transform: scale(1.8);
    transition: 1s;
    opacity: 1;
    position: relative;
}


/* FIN ESTILOS PÁGINA NOSOTROS */


/* ESTILOS PÁGINA RUNCLUB */

section#runclubAccesoNoticias {
    margin: 0 auto;
    width: 100%;
    max-width: 970px;
    margin-top: 30px;
}

section#runclubAccesoNoticias h2 {
    font-size: 3rem;
}

section#runclubAccesoNoticias article {
    text-align: center;
    background-color: rgb(219, 219, 219);
    padding: 4%;
    margin-top: 10px;
    margin-bottom: 30px;
    grid-column-end: span 4;
}

section#runclubAccesoNoticias article:hover {
    background-color: var(--colorFondoPrincipal);
    color: white;
}

section#runclubAccesoNoticias article:hover a {
    color: var(--destacadoClub);
}

section#runclubAccesoNoticias article h3 {
    font-size: 1.8rem;
    padding: 10px 0px;
    font-weight: 900;
}

section#runclubAccesoNoticias article img {
    width: 100%;
}

section#runclubAccesoNoticias article p {
    font-size: 1.2rem;
    line-height: 2rem;
    letter-spacing: 0.1px;
    text-align: center;
}

section#runclubAccesoEditoriales {
    margin: 0 auto;
    width: 100%;
    margin-top: 30px;
    background-color: var(--colorFondoPrincipal);
    padding-top: 40px;
    padding-bottom: 40px;
}

section#runclubAccesoEditoriales h2 {
    color: rgba(255, 255, 255, 0.1);
    margin-top: 10px;
    font-size: 15rem;
    line-height: 0rem;
}

section#runclubAccesoEditoriales article {
    grid-column-end: span 6;
    text-align: center;
    padding-top: 50px;
}

section#runclubAccesoEditoriales article img {
    width: 90%;
    text-align: center;
}

section#runclubAccesoEditoriales article h3 {
    color: rgba(255, 255, 255, 0.8);
    padding-top: 10px;
    font-size: 2rem;
    font-weight: 900;
    letter-spacing: 3px;
}

section#runclubAccesoEditoriales article p {
    width: 70%;
    font-weight: 300;
    font-size: 1.1rem;
    line-height: 1.5rem;
    letter-spacing: 1px;
    margin: 0 auto;
    color: white;
}

section#runclubAccesoEditoriales article a.seguirLeyendo {
    color: var(--destacadoClub);
}

section#runclubAccesoEntrenamientos {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 0 auto;
    margin-top: 30px;
    background-color: var(--colorFondoPrincipal);
}

section#runclubAccesoEntrenamientos div {
    width: 90%;
    margin: 0 auto;
}

section#runclubAccesoEntrenamientos article {
    grid-column-end: span 3;
    margin: 20px auto;
    text-align: center;
}

h3.tituloEntrenamientos {
    color: var(--destacadoClub);
    font-weight: 600;
    padding-top: 10px;
}

section#runclubAccesoEntrenamientos article img {
    width: 100%;
}

section#runclubAccesoEntrenamientos article p {
    font-size: 1.2rem;
    color: #ffffff;
}

section#runclubAccesoBiografias {
    width: 100%;
    margin: 80px auto;
}

section#runclubAccesoBiografias article p {
    text-align: center;
    min-height: 170px;
}

section#runclubAccesoBiografias div.grillaRunClub {
    gap: 0;
}

section#runclubAccesoBiografias article {
    color: white;
    text-align: center;
    background-size: cover;
    grid-column-end: span 3;
    height: 600px;
    display: flex;
    align-items: center;
    background-position: center;
    margin-top: 10px;
}

.textoBiografia {
    width: 70%;
    margin: 0px auto;
    height: 300px;
}

.textoBiografia h3 {
    font-size: 1.5rem;
    line-height: 2.5rem;
    margin-bottom: 30px;
}

div.textoBiografia h3 span.destacadoClub {
    display: block;
    font-size: 3rem;
}

section#runclubAccesoBiografias article a {
    color: white;
}

section#runclubAccesoBiografias article p {
    font-size: 1.8rem;
    line-height: 3rem;
    font-weight: 300;
    margin-bottom: 20px;
}

section#runclubAccesoBiografias article#biografia1 {
    background-image: url(../images/biografias/bio-eliud.png);
}

section#runclubAccesoBiografias article#biografia2 {
    background-image: url(../images/biografias/bio-lucas.png);
}

section#runclubAccesoBiografias article#biografia3 {
    background-image: url(../images/biografias/bio-perotti.png);
}

section#runclubAccesoBiografias article#biografia4 {
    background-image: url(../images/biografias/bio-garcia.png);
}


/* FIN ESTILOS PÁGINA RUNCLUB */


/* ESTILOS PÁGINA EVENTOS */

section.eventos {
    padding: 30px 0px;
    margin-top: 50px;
    text-align: center;
}

article table {
    margin-top: 40px;
    margin-bottom: 50px;
    text-align: center;
}

th,
td {
    vertical-align: middle;
    padding: 1.5rem!important;
    font-size: 1.6rem;
}

.btn-sm {
    padding: 10px;
    font-size: 1rem;
}

td {
    font-size: 1.6rem;
}


/* FIN ESTILOS PÁGINAS EVENTOS */


/* ESTILOS PÁGINA CONTACTO */

section#entrenaConNosotros.formularioContacto {
    margin: 40px auto;
}

form {
    padding-top: 20px;
    color: var(--colorTextoPrincipal);
    text-align: left;
}

.datosContacto div {
    width: 90%;
    margin: 0 auto;
}

div.tituloContacto h3 {
    font-size: 3rem;
}

div.tituloContacto h3 span.destacadoClub {
    font-size: 3rem;
    display: block;
}

input {
    background-color: #fff;
    border: 0;
    padding: 10px 10px;
    box-sizing: border-box;
    margin: 10px auto;
    color: #8d8d8d;
    border-radius: 3px;
    border: 1px solid #e5e5e5;
    text-align: left;
    width: 100%;
}

.botonEnviar {
    display: block;
    margin: 30px auto 0px;
    width: 150px;
    text-align: center;
}

.botonLimpiar {
    width: 90px;
    font-size: 1rem;
    color: var(--colorTextoPrincipal);
    margin: 10px auto;
    text-align: center;
    display: block;
}


/* FIN ESTILOS PÁGINA CONTACTO */


/* GALERIA EVENTOS */

.carousel-inner {
    margin-bottom: 50px;
}

@media only screen and (max-width:992px) {
    /* ESTILOS GENÉRICOS */
    html {
        font-size: 11px;
    }
    #contenedorMenu {
        width: 90%;
    }
    .textoEncabezado {
        width: 80%;
    }
    /* ESTILOS INDEX */
    section#novedades article {
        grid-column-end: span 6;
        background-position: center;
        height: 400px;
    }
    section#novedades p {
        width: 80%;
        height: auto;
    }
    .accesoConNosotros h2 {
        font-size: 2rem;
    }
    .accesoConNosotros p.textoEncabezado {
        width: auto;
        font-size: 1.2rem;
        line-height: 2rem;
    }
    .eventosAnteriores {
        gap: 5px;
        row-gap: 10px;
    }
    h4.tituloEventoAnterior {
        font-size: 90%;
    }
    /* ESTILOS NOSOTROS */
    div.encabezadoDestacado h1 {
        width: 90%;
        margin: 0 auto;
    }
    div.encabezadoDestacado h1,
    div.encabezadoDestacado h1 .destacadoClub {
        font-size: 4rem;
    }
    section#staff div.grillaRunClub {
        grid-template-columns: repeat(4, 1fr);
    }
    .miembroStaff {
        grid-column-end: span 2;
    }
    /* ESTILOS PÁGINA RUNCLUB*/
    section#runclubAccesoBiografias article {
        grid-column-end: span 6;
    }
    .textoBiografia {
        width: 70%;
        margin: 0px auto;
        height: auto;
    }
    /* ESTILOS PÁGINA RUN CLUB */
    section.portada h1,
    section.portada h1 .destacadoClub {
        font-size: 4rem;
    }
    #runclubAccesoNoticias .grillaRunClub {
        width: 95%;
        margin: 0 auto;
    }
    section#runclubAccesoNoticias article p {
        height: 130px;
    }
    section#runclubAccesoEditoriales h2 {
        font-size: 8rem;
    }
    section#runclubAccesoBiografias p {
        min-height: auto;
    }
    section#runclubAccesoBiografias article {
        margin-top: 0px;
    }
    section#runclubAccesoEntrenamientos .grillaRunClub {
        gap: 10px;
        width: 90%;
    }
    section#runclubAccesoEntrenamientos article {
        grid-column-end: span 6;
        margin-bottom: 0px;
    }
    /*ESTILOS PÁGINA EVENTOS */
    td {
        font-size: 1rem;
    }
    th {
        font-size: 1.2rem;
    }
    .btn-sm {
        padding: 5px
    }
    /* ESTILOS PÁGINA DE CONTACTO */
    div.tituloContacto h3,
    div.tituloContacto h3 span.destacadoClub {
        font-size: 2rem;
    }
    section#entrenaConNosotros div.grillaRunClub {
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width:600px) {
    /* ESTILOS GENÉRICOS */
    html {
        font-size: 10px;
    }
    /* ESTILOS HEADER */
    header {
        height: auto;
    }
    nav ul {
        display: flex;
        justify-content: space-around
    }
    nav ul li {
        padding: 5px;
    }
    nav ul li a {
        font-size: 1rem;
    }
    .nav-run-drop {
        font-size: 1.2rem;
        padding: 10px 20px;
    }
    /*ESTILOS FOOTER */
    footer div.contenidoSemiFull {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    footer h3 {
        text-align: center;
    }
    div.accesoRedes p {
        color: var(--destacadoClub);
        text-transform: uppercase;
        font-weight: 900;
        font-size: 1.4rem;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    /* ESTILOS INDEX */
    section#portadaSitio h1,
    section#portadaSitio h1 .destacadoClub {
        width: 90%;
        margin: 0 auto;
        text-align: center;
        font-size: 4rem;
        line-height: 4rem;
    }
    section#novedades article {
        grid-column-end: span 12;
        background-position: center;
        padding: 0;
        height: 500px;
    }
    section#novedades h4 {
        font-size: 2.5rem;
        letter-spacing: 1px;
    }
    section#novedades p {
        font-size: 1.8rem;
    }
    .accesoConNosotros h2 {
        font-size: 2.4rem;
        line-height: 3rem;
    }
    .accesoConNosotros p.textoEncabezado {
        width: auto;
        font-size: 16px;
        line-height: 30px;
    }
    section#novedades h3 {
        font-size: 1.2rem;
    }
    section#novedades article a {
        font-size: 1.3rem;
        padding: 8px;
    }
    /* ESTILOS NOSOTROS */
    .miembroStaff {
        grid-column-end: span 4;
    }
    section#staff h2 {
        font-size: 6rem;
    }
    section#staff h3,
    section#staff h3 .destacadoClub {
        font-weight: 900;
        font-size: 2rem;
    }
    .miembroStaff {
        padding-bottom: 10px;
    }
    .miembroStaff p {
        padding-bottom: 0px;
    }
    /* ESTILOS RUNCLUB */
    section#runclubAccesoNoticias article {
        grid-column-end: span 12;
        grid-column-start: 1;
    }
    section#runclubAccesoNoticias article p,
    section#runclubAccesoEditoriales article p {
        font-size: 1.5rem;
        line-height: 2rem;
        height: auto;
    }
    section#runclubAccesoEditoriales h2 {
        font-size: 4rem;
    }
    section#runclubAccesoEditoriales article {
        grid-column-end: span 12;
        text-align: center;
        padding-top: 10px;
    }
    section#runclubAccesoBiografias article {
        grid-column-end: span 12;
    }
    section#runclubAccesoEntrenamientos article {
        grid-column-end: span 12;
        margin-bottom: 0px;
    }
    /*ESTILOS PÁGINA EVENTOS */
    td {
        font-size: 0.8rem;
        padding: 1rem!important;
    }
    th {
        font-size: 1rem;
    }
    .btn-sm {
        padding: 5px
    }
    /*PÁGINA CONTACTO */
    section.portada h1,
    section.portada h1 .destacadoClub {
        font-size: 3rem;
        width: 90%;
        margin: 0 auto;
    }
    div.tituloContacto h3 {
        font-size: 2rem;
    }
}