@mixin accesosRunclub($colorletra, $colorFondo, $padding, $ancho, $case, $tamanioLetra, $margen) {
    color: $colorletra;
    background-color: $colorFondo;
    padding: $padding;
    width: $ancho;
    text-transform: $case;
    font-size: $tamanioLetra;
    margin: $margen;
}

@mixin estructuraContenido($ancho, $alto) {
    max-width: $ancho;
    height: $alto;
}