footer {
    margin-top: 50px;
    padding: 40px 0px;
    background-color: $fondoPrincipal;
    color: white;
    .footer__contenido {
        display: flex;
        justify-content: space-between;
        width: 90%;
        margin: 0 auto;
        @media only screen and (max-width: 800px) {
            flex-direction: column;
            text-align: center;
        }
        h3 {
            font-weight: 700;
            font-size: 2rem;
            @media only screen and (max-width: 800px) {
                font-size: 3rem;
            }
        }
        .footer__texto {
            font-size: 12px;
            font-weight: 500;
            margin-bottom: 0;
            @media only screen and (max-width: 800px) {}
        }
        .footer__redes {
            @media only screen and (max-width: 800px) {
                margin-top: 10px;
                p {
                    color: $colorRunClub;
                    font-size: 1.4rem;
                    letter-spacing: 2px;
                    font-weight: 900;
                    text-transform: uppercase;
                    margin-bottom: 10px;
                    @media only screen and (max-width: 400px) {
                        font-size: 1rem;
                        line-height: 1rem;
                    }
                }
            }
            .footer__accesos {
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                gap: 5px;
                margin-top: 5px;
                @media only screen and (max-width: 800px) {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    gap: 5px;
                }
            }
            .footer__imagen {
                width: 20px;
            }
        }
    }
}