/* ESTILOS HEADER DESKTOP*/

header {
    width: 100%;
    background-color: $fondoPrincipal;
    clear: both;
    top: 0px;
    nav {
        margin: 0 auto;
    }
    .logoSitio img {
        width: 130px;
    }
    .navbar-expand-lg {
        .navbar-collapse {
            justify-content: flex-end;
        }
        .container-fluid {
            a.nav-run:hover {
                color: $colorRunClub;
            }
            a.nav-run-drop,
            a.nav-run-drop:hover {
                color: #fff;
            }
            .nav-run {
                display: inline-block;
                padding: 10px;
                color: white;
                text-decoration: none;
                font-size: 1.2rem;
                &:hover {
                    color: $colorRunClub;
                }
            }
            .nav-run-drop {
                font-size: 1rem;
                line-height: 1.2rem;
                letter-spacing: 0.5px;
                text-decoration: none;
                display: block;
                padding: 8px;
                text-align: left;
                &:hover {
                    background-color: $colorRunClub;
                }
            }
            nav ul li li:hover,
            nav ul li ul a:hover {
                background-color: $colorRunClub;
                color: white;
            }
            ul.dropdown-menu.dropdown-menu-dark.dropdown-run.show {
                top: auto;
                left: auto;
            }
            .dropdown-menu-dark {
                background-color: $fondoPrincipal;
            }
            .dropdown-menu {
                border-radius: 0;
                border: 0;
                padding: 0;
            }
        }
    }
}


/* FIN ESTILOS HEADER */