.entrenaContacto {
    margin: 40px auto;
    text-align: center;
    @media only screen and (max-width: 900px) {
        margin: 0 auto;
    }
    h2 {
        font-size: 2.5rem;
        letter-spacing: 1px;
        word-spacing: 10px;
    }
    img {
        width: 100%;
    }
    .entrenaContacto__bloqueCentral {
        width: 90%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 20px;
        @media only screen and (max-width: 900px) {
            grid-template-columns: 1fr;
        }
    }
    .accesoConNosotros__bloque {
        grid-column-end: span 1;
        img {
            width: 100%;
        }
    }
    .entrenaContacto__bloque2 {
        grid-column-end: span 1;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    form {
        padding-top: 20px;
        color: var(--colorTextoPrincipal);
        text-align: center;
        h3 {
            color: $colorRunClub;
            font-size: 2rem;
        }
        .entrenaContacto_campo {
            input {
                background-color: #fff;
                border: 0;
                padding: 10px 10px;
                box-sizing: border-box;
                margin: 10px auto;
                color: #8d8d8d;
                border-radius: 3px;
                text-align: left;
                width: 100%;
                border: 1px solid #e5e5e5;
            }
        }
        .botonEnviar {
            display: block;
            margin: 30px auto 0px;
            text-align: center;
            border: 1px solid #e5e5e5;
        }
        .botonLimpiar {
            width: 90px;
            font-size: 1rem;
            color: var(--colorTextoPrincipal);
            margin: 10px auto;
            text-align: center;
            display: block;
            border: 1px solid #e5e5e5;
        }
    }
}