.staff {
    padding-top: 30px;
    padding-bottom: 50px;
    text-align: center;
    .staff__contenido {
        display: flex;
        margin: 0 auto;
    }
    h2 {
        padding-top: 20px;
        font-size: 12rem;
        line-height: 40px;
        color: rgba(255, 85, 0, 0.2);
    }
    h3 {
        color: white;
        font-size: 1.8rem;
        line-height: 2rem;
        padding-bottom: 10px;
        letter-spacing: 1px;
        .destacadoClub {
            font-size: 1.8rem;
        }
    }
    p {
        color: white;
        font-size: 1.4rem;
        line-height: 2.4rem;
        letter-spacing: 0.2px;
    }
    .staff_miembroStaff {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 20px 10px;
        grid-column-end: span 3;
        img {
            width: 100%;
        }
        p {
            padding: 10px;
        }
    }
}