.noticiasRunClub {
    margin: 50px auto;
    padding-top: 30px;
    background-color: #efefef;
    h2 {
        font-size: 3rem;
        letter-spacing: 3px;
    }
    .noticiasRunClub__bloque {
        margin: 0 auto;
        display: flex;
        gap: 10px
    }
    article {
        text-align: center;
        padding: 1%;
        margin-top: 10px;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        &:hover {
            background-color: $fondoPrincipal;
            color: white;
            a {
                color: $colorRunClub;
            }
        }
        img {
            object-fit: contain;
        }
        h3 {
            font-size: 1.8rem;
            padding: 10px 0px;
            font-weight: 900;
        }
        p {
            font-size: 1.2rem;
            line-height: 2rem;
            letter-spacing: 0.1px;
            text-align: center;
        }
    }
}

.editorialesRunClub {
    margin: 50px auto;
    background-color: $fondoPrincipal;
    padding-top: 40px;
    padding-bottom: 40px;
    h2 {
        color: rgba(255, 255, 255, 0.1);
        margin-top: 10px;
        font-size: 13rem;
        line-height: 1rem;
    }
    .editorialesRunClub__bloque {
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 10px
    }
    article {
        grid-column-end: span 6;
        text-align: center;
        padding-top: 50px;
    }
    img {
        width: 90%;
        text-align: center;
    }
    h3 {
        color: rgba(255, 255, 255, 0.8);
        padding-top: 10px;
        font-size: 2rem;
        font-weight: 900;
        letter-spacing: 3px;
    }
    p {
        width: 70%;
        font-weight: 300;
        font-size: 1.1rem;
        line-height: 1.5rem;
        letter-spacing: 1px;
        margin: 0 auto;
        color: white;
    }
    .seguirLeyendo {
        color: $colorRunClub;
    }
}