a.btRun-sm {
    @include accesosRunclub (white, $fondoPrincipal, 5px 10px, auto, lowercase, 1rem, 10px auto);
    &:hover {
        background-color: $colorRunClub;
    }
}

a.btRun-med {
    @include accesosRunclub (white, $fondoPrincipal, 10px 0px, 100px, uppercase, 1.5rem, 10px auto);
    &:hover {
        background-color: $colorRunClub;
        color: #ffffff;
    }
}

a.btRun-large {
    @include accesosRunclub (white, $fondoPrincipal, 10px 20px, 200px, uppercase, 1.6rem, 10px auto);
    &:hover {
        background-color: $colorRunClub;
        color: #ffffff;
    }
}

a.btRunDestacado-large {
    @include accesosRunclub (white, $colorRunClub, 10px 0px, 200px, uppercase, 1.5rem, 10px auto);
    &:hover {
        color: $colorRunClub;
        background-color: #ffffff;
    }
}