.btRun-sm {
    @include accesosRunclub (white, $fondoPrincipal, 5px 10px, auto, inherit, 1rem, 10px auto);
    &:hover {
        background-color: $colorRunClub;
        color: #ffffff;
    }
    @media only screen and (max-width: 300px) {
        width: 100%;
    }
}

.btRun-med {
    @include accesosRunclub (white, $fondoPrincipal, 10px 10px, auto, uppercase, 1.5rem, 10px auto);
    &:hover {
        background-color: $colorRunClub;
        color: #ffffff;
    }
    @media only screen and (max-width: 300px) {
        width: 100%;
    }
}

.btRun-large {
    @include accesosRunclub (white, $fondoPrincipal, 10px 20px, 220px, uppercase, 1.6rem, 10px auto);
    &:hover {
        background-color: $colorRunClub;
        color: #ffffff;
    }
    @media only screen and (max-width: 300px) {
        width: 100%;
    }
}

.btRunDestacado-large {
    @include accesosRunclub (white, $colorRunClub, 10px 0px, 220px, uppercase, 1.5rem, 10px auto);
    &:hover {
        color: $colorRunClub;
        background-color: #ffffff;
    }
    @media only screen and (max-width: 300px) {
        width: 100%;
    }
}